@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&family=Red+Hat+Display:wght@300;400;500;600;700&display=swap');

/*:root{
    --color-body: #272727;
    --color-heading: #5b4880;
    --color-base: #f4f4f4;
    --color-base2: rgb(255, 218, 155);
    --color-brand: var(--color-base2); 
    --color-brand2: #ed924b;
    --sidbar-width: 200px;
    --font-base: 'Red Hat Display';
}*/


:root{
    --color-body: #1f1f1f;
    --color-heading: #1f1f1f;
    --color-base: #ebe7e4;
    --color-base2: rgb(24, 26, 160);
    --color-brand: #badde2; 
    --color-brand2: #57b8e5;
    --sidbar-width: 200px;
    --font-base: 'Red Hat Display';
}

.fcolor-b{
    color: #1f1f1f;
}

.fcolor{
    color: #ebe7e4;
}

body{
    color: var(--color-body);
    font-family: var(--font-base);
    background-color: var(--color-base);
}

.dot-effect{
    background: rgb(35, 35, 35);
    background-image: radial-gradient(rgb(83, 83, 83) 1px, transparent 0);
    background-size: 30px 30px;
    background-position: -19px -19px;
}

h1,h2,h3,h4,h5,h6{
    font-weight: 700;
}

a{
    text-decoration: none;
    color: var(--color-body);
    transition: all 0.4s ease;
}


a:hover{
    color: var(--color-brand);
}

img{
    width: 100%;
}

.shadow-effect{
    transition: all 0.5s;
}

.shadow-effect:hover{
    box-shadow: -6px 6px 0 0 var(--color-brand);
}

.iconbox{
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    background-color: white;
}

.iconbox-black{
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    background-color: var(--color-body);
}

/*--NAVBAR--*/
.navbar {
    background-color: var(--color-base2);
}

.navbar .nav-link {
    font-weight: 500;
    text-transform: uppercase;
    color: #fff;
}

.navbar .nav-link:hover{
    color: var(--color-brand2);
}

.navbar .nav-link.active {
    color: var(--color-brand2);
}

.navbar-brand img{
    border: 5px solid var(--color-brand2);
}

.navbar-toggler:focus{
    box-shadow: none;
}

.text-brand{
    color: var(--color-brand2);
}

.text-brand2{
    color: var(--color-base2);
}

.bg-base{
    background-color: var(--color-base2);
}

.bg-base-b{
    background-color: var(--color-body);
}


.full-height{
    min-height: 100vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 80px;
    padding-bottom: 80px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1) ;
}

/*--//NAVBAR--*/

/* BUTTON */
.btn{
    padding: 12px 28px;
    font-weight: 700;
    color: white;
    border-radius: 50px;
}

.btn-brand{
    background-color: var(--color-base2);
    border: var(--color-base2);
}

.btn-brand:hover,
.btn-brand:focus{
    background-color: var(--color-brand2);
    color: var(--color-base);
    border-color: var(--color-brand2);
}

.link-custom{
    font-weight: 700;
    position: relative;
}

.link-custom::after{
    content: "";
    width: 0%;
    height: 2px;
    background-color: var(--color-brand);
    position: absolute;
    left: 0;
    top: 110%;
    transition: all 0.4s;
}

.link-custom:hover::after{
    width: 100%;
}

/*--//BUTTON--*/

/*--CARD--*/
.card-custom .card-custom-image{
    overflow: hidden;
}

.card-custom .card-custom-image img{
    transition: all 0.4s ease;
}

.card-custom:hover .card-custom-image img{
    transform: scale(1.2);
}
/*--//CARD--*/

/*--CONTACT--*/
#pesan .form-control{
    background-color: rgb(246, 246, 246);
    border-color: rgb(164, 164, 164);
    color: #1f1f1f;
}

#pesan .form-control:focus{
    background-color: white;
    box-shadow: none;
}

#pesan .form-control::placeholder{
    color: #9c9c9c;
}

#pesan input.form-control{
    height: 44px;
}
/*--//CONTACT--*/

.social-links a{
     width: 40px;
     height: 40px;
     margin-left: 5px;
     margin-right: 5px;
     display: inline-flex;
     align-items: center;
     justify-content: center;
     background-color: rgb(221, 221, 221);
     border-radius: 100px;
     font-size: 24px;       
}

@media (min-width: 992px) {
    .navbar {
        min-height: 100vh;
        width: var(--sidbar-width);
        background: linear-gradient(rgba(24, 26, 160, 0.8), rgba(24, 26, 160, 0.8)), url(../images/sidebar.jpg);
        background-size: cover;
        background-position: center;
    }

    .navbar-brand img {
        border: 8px solid var(--color-brand2);
    }

    /* CONTENT WRAPPER */
    #content-wrapper {
        padding-left: var(--sidbar-width);
    }
}